{% extends "plantilla.html" %}
{% block title %} NEURO IA | Diagnóstico ACV  {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="pcoded-content">

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">DIAGNÓSTICOS</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item">Evaluación</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header ml-5">
                    <h5>REALIZAR DIAGNÓSTICO</h5>                                    
                </div>
                <div class="card-body">
                    <form id="prediction-form" class="">
                        {% csrf_token %}
                        <div class="row px-3 py-2"> 
                            <div class="col-lg-12 ">
                                <label for="" style="color: black;"><strong>Datos del Paciente</strong></label>
                                <hr>        
                            </div> 
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Nombre Paciente</span>
                                            <input type="text" aria-label="First name" class="form-control" value="{{ paciente.nombre }}" disabled>
                                        </div>
                                    </div> 
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Edad:</span>
                                            <input type="number" aria-label="First name" class="form-control" value="{{ paciente.edad  }}" disabled>
                                        </div>
                                    </div> 
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-text">Genero:</span>
                                            <input type="number" aria-label="First name" class="form-control" value="{{ paciente.genero  }}" disabled>
                                        </div>
                                    </div> 
                                </div>
                            </div>                            
                            <div class="col-lg-12 mt-4">
                                <label for="" style="color: black;"><strong>Factores de Evaluación</strong></label>
                                <hr>        
                            </div> 
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <label for="Hipertension" class="input-group-text">Hipertensión</label>
                                            <select id="Hipertension" name="Hipertension" class="form-control">
                                                <option selected>Seleccione...</option>
                                                <option value="0">No</option>
                                                <option value="1">Sí</option>
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <label for="Cardiopatia" class="input-group-text">Cardiopatía</label>
                                            <select id="Cardiopatia" name="Cardiopatia" class="form-control">
                                                <option selected>Seleccione...</option>
                                                <option value="0">No</option>
                                                <option value="1">Sí</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <label for="TipoTrabajo" class="input-group-text">Tipo de Trabajo</label>
                                            <select id="TipoTrabajo" name="TipoTrabajo" class="form-control">
                                                <option selected>Seleccione...</option>
                                                <option value="0">Trabajador para el gobierno</option>
                                                <option value="1">Nunca trabajó</option>
                                                <option value="2">Trabajador privado</option>
                                                <option value="3">Trabajador por cuenta propia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <label for="EstadoFumador" class="input-group-text">Estado Fumador</label>
                                            <select id="EstadoFumador" name="EstadoFumador" class="form-control">
                                                <option selected>Seleccione...</option>
                                                <option value="0">No opina</option>
                                                <option value="1">Anteriormente fumó</option>
                                                <option value="2">Nunca fumó</option>
                                                <option value="3">Fuma</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <span for="Nivel_GlucosaPromedio" class="input-group-text">Glucosa Promedio</span>
                                            <input type="number" aria-label="First name" class="form-control"  id="Nivel_GlucosaPromedio" name="Nivel_GlucosaPromedio" min="50" max="280">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <span for="ICM" class="input-group-text">Índice de Masa Corporal</span>
                                            <input type="number" aria-label="First name" class="form-control"  id="ICM" name="ICM"  min="13" max="50">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="result" class="mt-3"></div>
                                
                                <div class="row mt-3">
                                    <div class="col-lg-6 col-md-6 col-sm-12"><button type="button" onclick="submitForm()" class="btn" style="width: 100%; background-color: #343a40; font-size: 12px; color: white;"><b>GUARDAR</b></button></div>
                                    <div class="col-lg-6 col-md-6 col-sm-12"><a href="{% url 'home' %}" class="btn" style="width: 100%; background-color: rgb(231, 237, 247); font-size: 12px; color: black;"><b>CANCELAR</b></a></div>
                                </div>                      
                            </div>
                        </div>                           
                    </form>        
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Warning",
                "text":"{{m}}",
                "icon":"info"
                })
            </script>
        {% endfor %}
    {% endif %}

    <script>
        function submitForm() {
            // Validación de los campos de entrada
            const glucosa = parseFloat(document.getElementById('Nivel_GlucosaPromedio').value);
            const imc = parseFloat(document.getElementById('ICM').value);

            // Validación de los rangos
            if (glucosa < 50 || glucosa > 280) {
                alert('El nivel de glucosa promedio debe estar entre 50 y 280.');
                return;
            }

            if (imc < 13 || imc > 50) {
                alert('El índice de masa corporal (IMC) debe estar entre 13 y 50.');
                return;
            }

            // Validación de los campos select
            const hipertension = document.getElementById('Hipertension').value;
            const cardiopatia = document.getElementById('Cardiopatia').value;
            const tipoTrabajo = document.getElementById('TipoTrabajo').value;
            const estadoFumador = document.getElementById('EstadoFumador').value;

            if (hipertension === '') {
                alert('Debe seleccionar una opción para Hipertensión.');
                return;
            }

            if (cardiopatia === '') {
                alert('Debe seleccionar una opción para Cardiopatía.');
                return;
            }

            if (tipoTrabajo === '') {
                alert('Debe seleccionar una opción para Tipo de Trabajo.');
                return;
            }

            if (estadoFumador === '') {
                alert('Debe seleccionar una opción para Estado Fumador.');
                return;
            }

            const form = document.getElementById('prediction-form');
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            console.log('Datos a enviar:', data);

            // Obtener el token de autenticación desde localStorage
            const authToken = localStorage.getItem('token');

            fetch('/api/acv1/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'), // Incluir el token CSRF
                    'Authorization': `Token ${authToken}`  // Incluir el token de autenticación
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Respuesta de la API:', data);

                    let prediction = data.prediccion;
                    let message;
                    if (prediction === 0) {
                        message = 'Presenta BAJA probabilidad de riesgo de un accidente cerebrovascular (ACV)';
                        document.getElementById('result').innerHTML = '<div class="alert alert-success"><b>Predicción: </b>' + message + '</div>';
                    } else if (prediction === 1) {
                        message = 'Presenta ALTA probabilidad de riesgo de un accidente cerebrovascular (ACV)';
                        document.getElementById('result').innerHTML = '<div class="alert alert-danger"><b>Predicción: </b>' + message + '</div>';
                    } else {
                        message = 'Respuesta inesperada';
                        document.getElementById('result').innerHTML = '<div class="alert alert-info"><b>Predicción: </b>' + message + '</div>';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('result').innerHTML = '<div class="alert alert-danger">Error: ' + error.message + '</div>';
                });
        }

        // Función para obtener el token CSRF
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>


{% endblock %} 

