{% extends "plantilla.html" %}
{% block title %} IDENTIFICACIÓN DE GRUPOS | Factores Médicos  {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<style>
    .card-header{       
        color: white;
        background: #56CCF2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #56CCF2, #2F80ED);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left,  #56CCF2, #2F80ED);
    }

    input[name="username"],[name="password"], [name="first_name"], [name="last_name"],[name="email"]
    {
        height: 30px;
        font-family: "Red Hat Display", sans-serif;       
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 13px;
    }
    label{
        color: black;
    }
    hr{
        background-color: black;
    }

</style>
<div class="px-5">
    <div class="card mx-5 my-4 ">
        <div class="card-header">
            <h4 class="card-title pl-5 pt-2" style="font-size: 18px;"><i class="fa-solid fa-plus mr-2"></i><b> IDENTIFICACIÓN DE GRUPOS | Factores Médicos </b></h4>         
        </div>       
        <div class="card-body px-5">            
            <form id="prediction-form">
                {% csrf_token %}
                <h5 style="color: black;">Datos Personales</h5>
                <hr style="color: black;">
                <div class="row">
                    <div class="col-6 col-sm-5">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" name="" id="" value="{{userNameLogged}}" disabled>      
                    </div>
                    <div class="col-6 col-sm-1"></div>
                    <div class="col-4 col-sm-4">
                        <div class="form-group">
                            <label for="Genero">Género</label>
                            <select style="background-color: #fff; border-color: rgb(209, 215, 220); color: black;" class="form-select" id="Genero" name="Genero" required>
                                <option value="" disabled selected>Seleccionar opción</option>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                            </select>
                        </div>       
                    </div>
                    <div class="col-4 col-sm-2">
                        <div class="form-group">
                            <label for="Edad">Edad</label>
                            <input type="number" class="form-control" id="Edad" name="Edad" step="1" required>
                        </div>
                    </div>
                </div>

                <br>
                <h5 style="color: black;">Datos Médicos</h5>
                <hr style="color: black;">
                
                <div class="row">
                    <div class="col-6 col-sm-3">                        
                        <div class="form-group">
                            <label for="Hipertension">Hipertensión</label>
                            <select class="form-control" id="Hipertension" name="Hipertension" required>
                                <option value="" disabled selected>Seleccionar opción</option>
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <div class="form-group">
                            <label for="Cardiopatia">Cardiopatía</label>
                            <select class="form-control" id="Cardiopatia" name="Cardiopatia" required>
                                <option value="" disabled selected>Seleccionar opción</option>
                                <option value="0">No</option>
                                <option value="1">Sí</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2"></div>
                    <div class="col-6 col-sm-2">
                        <div class="form-group">
                            <label for="Nivel_GlucosaPromedio">Nivel de Glucosa</label>
                            <input type="number" class="form-control" id="Nivel_GlucosaPromedio" name="Nivel_GlucosaPromedio" step="0.01" required>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="form-group">
                            <label for="ICM">ICM</label>
                            <input type="number" class="form-control" id="ICM" name="ICM"  step="0.01" required>
                        </div>
                    </div>                   
                </div>

                <br>
                <h5 style="color: black;">Datos Sociales</h5>
                <hr style="color: black;">
                
                <div class="row">
                    <div class="col-6 col-sm-5">
                        <div class="form-group">
                            <label for="TipoTrabajo">Tipo de Trabajo</label>
                            <select style="background-color: #fff; border-color: rgb(209, 215, 220); color: black;" class="form-select" id="TipoTrabajo" name="TipoTrabajo" required>
                                <option value="" disabled selected>Seleccionar opción</option>
                                <option value="1">Trabajador por cuenta propia</option>
                                <option value="2">Trabajador para el gobierno</option>
                                <option value="3">Nunca trabajó</option>
                                <option value="4">Trabajador privado</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <button style="width: 100%;" type="button" class="btn btn-primary" onclick="validateForm()">Enviar</button>
                    </div>
                    <div class="col-6 col-sm-6">
                        <a style="width: 100%;" type="button" class="btn btn-secondary" href="{% url 'home' %}">Regresar</a>
                    </div>

                </div>
            </form>    

            <div id="result" class="mt-4"></div>

        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                "title": "Warning",
                "text":"{{m}}",
                "icon":"info"
                })
            </script>
        {% endfor %}
    {% endif %}

    <script>
        function validateForm() {
            const form = document.getElementById('prediction-form');
            let isValid = true;
            let errorMessage = "";

            // Check each required field
            const requiredFields = ['Genero', 'Edad', 'TipoTrabajo', 'Hipertension', 'Cardiopatia', 'Nivel_GlucosaPromedio', 'ICM'];
            requiredFields.forEach(field => {
                const element = document.getElementById(field);
                if (!element.value) {
                    isValid = false;
                    errorMessage += `El campo ${element.previousElementSibling.innerText} es obligatorio.<br>`;
                }
            });

            const edad = parseFloat(document.getElementById('Edad').value);
            const glucosa = parseFloat(document.getElementById('Nivel_GlucosaPromedio').value);
            const icm = parseFloat(document.getElementById('ICM').value);

            if (isNaN(edad) || !Number.isInteger(edad) || edad < 1 || edad > 120) {
                isValid = false;
                errorMessage += "La edad debe ser un número entero entre 1 y 120.<br>";
            }
            if (isNaN(glucosa) || glucosa < 30 || glucosa > 300) {
                isValid = false;
                errorMessage += "El nivel de glucosa debe ser un número entre 30 y 300 mg/dL.<br>";
            }
            if (isNaN(icm) || icm < 10 || icm > 100) {
                isValid = false;
                errorMessage += "El ICM debe ser un número entre 10 y 100.<br>";
            }

            if (!isValid) {
                document.getElementById('result').innerHTML = `<div class="alert alert-danger">${errorMessage}</div>`;
            } else {
                submitForm();
            }
        }

        function submitForm() {
            const form = document.getElementById('prediction-form');
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            console.log('Datos a enviar:', data); // Console log para ver los datos

        $.ajax({
                url: '/api/acv2',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    let prediction = response.prediction[0]; 
                    let message;
                    if (prediction === 0) {
                        message = 'Pertenece al grupo de precaución mayor';
                    } else if (prediction === 1) {
                        message = 'Pertenece al grupo de precaución menor';
                    } else {
                        message = 'Pertenece al grupo de precaución intermedia';
                    }
                    $('#result').html('<div class="alert alert-success">Predicción: ' + message + '</div>');
                },
                error: function(xhr) {
                    $('#result').html('<div class="alert alert-danger">Error: ' + xhr.responseJSON.error + '</div>');
                }
            }); 
        }
    </script>


{% endblock %} 
